@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
   --light-color: white;
   --background-color: white;
   --navbar-color: rgb(255, 255, 255);
   --dark-font-color: rgb(17, 17, 17);
   --light-dark-font-color: rgb(51, 51, 51);
   --lighter-dark-font-color: rgb(72, 72, 72);
   --expand-more-color: rgb(148, 148, 148);
   --logo-color: rgb(0, 145, 255);
   --light-logo-color: rgb(105, 182, 242);
   --closing-color: rgb(243, 47, 47);
   --light-grey-color: rgb(230, 230, 230);
   --background-dots-color: rgb(240, 240, 240);
   --links-hover-color: rgb(133, 228, 78);
}

[data-theme="dark"] {
  --background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    line-height: 1.6;
    background-color: var(--background-color);
    transition: background-color 1s;
    background-image: radial-gradient(var(--background-dots-color) 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 5px 5px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: var(--light-color);
    padding: 10px;
}

/* ------------------------------------- BASICS ----------------------------------- */
.mrg-r-point-5 {
  margin-right: 0.5em;
}

.mrg-r-one {
  margin-right: 1em;
}

.mrg-r-pointfive {
  margin-right: 0.5em;
}

.mrg-t-1 {
  margin-top: 1em;
}

.mrg-b-1 {
  margin-bottom: 1em;
}

.mrg-t-b-1 {
  margin: 1em 0;
}

.disabled_change_cursor {
    cursor: not-allowed;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

.flex_left{
    display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_right {
    display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_start {
    display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex_end {
    display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex_evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app {
    display: flex;
  align-items: center;
  flex-direction: column;
}

.scroll_hidden {
  overflow: hidden;
}

.triple_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 479px) {
  .triple_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ft-bold {
  font-weight: bold;
}

.cancel:hover {
  color: var(--closing-color);
}

.invisible {
  display: none;
}

/* --------------------------------------------- NAVBAR -------------------------------------- */
.navbar {
  background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 100vw;
  height: 45px;
  border-bottom: 1px solid var(--light-grey-color);
  position: fixed;
  top: 0;
  font-family: 'Comfortaa', cursive;
  padding: 0 5em;
  z-index: 100;
}

.navbar .left {
  font-size: 26px;
  color: var(--logo-color);
  font-weight: 700;
}

.navbar .right {
  /* width: 45vw; */
  font-size: 0.9em;
}

.navbar .right .element {
   display: inline-block;
  position: relative;
  color: var(--light-dark-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right .element:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light-logo-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar .right .element:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.navbar .right .resume {
  font-size: 14px;
  color: var(--logo-color);
  font-weight: 700;
  border: 1px solid var(--logo-color);
  padding: 0.2em 0.8em;
  border-radius: 20px;
  margin-left: 2em;
  cursor: pointer;
  width: 90px;
  height: 30px;
}

.navbar .right .resume:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar .resume .text {
  animation: resumeHover 0.3s 1 linear;
}

.navbar .resume .icon {
  animation: resumeHover 0.3s 1 linear;
}

@keyframes resumeHover {
  0% {
    transform:scale(0.3); 
  }
  50% {
    transform:scale(1); 
  }
  75% {
    transform:scale(1.3); 
  }
  100% {
    transform:scale(1); 
  }
}

.navbar .right .sun {
  animation: sunEntry 0.3s 1 linear;
}

.navbar .right .moon {
  animation: moonEntry 0.3s 1 linear;
}

@keyframes sunEntry {
  from {
    opacity: 0;
    transform: rotate(270deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes moonEntry {
  from {
    opacity: 0;
    transform: rotate(90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}


@media only screen and (max-width: 786px) {
  .navbar {
  padding: 0 2.5em;
}
  .navbar .right {
    display: none;
  }
    .navbar .mobile_logo {
        cursor: pointer;
        animation: verticalToHorizontal 0.3s 1 linear;
        color: var(--light-dark-font-color);
    }

   .navbar .mobile_logo--tilted {
      cursor: pointer;
      transform: rotate(90deg);
      animation: horizontalToVertical 0.3s 1 linear;
      color: var(--light-dark-font-color);
  }

  .navbar .mobile_logo:hover, 
  .navbar .mobile_logo--tilted:hover {
    color: var(--logo-color);
  }

  @keyframes verticalToHorizontal {
        0% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes horizontalToVertical {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }

}

/* ---------------------------------- SIDEBAR ---------------------------- */
.sidebar {
  width: 170px;
  font-family: 'Comfortaa', cursive;
}

.sidebar .title {
  padding: 0.5em 0.5em;
}

.sidebar .title .text {
  font-size: 1em;
  color: var(--logo-color);
  font-weight: bold;
}

.sidebar .title .icon {
  color: var(--dark-font-color);
}

.sidebar .element {
  color: var(--lighter-dark-font-color);
  padding: 0.7em;
  margin: 0.3em;
  cursor: pointer;
  font-size: 0.9em;
}

.sidebar .element:hover {
  color: var(--logo-color);
  }

  .sidebar .element .resume {
      font-size: 14px;
  color: var(--logo-color);
  font-weight: 700;
  border: 1px solid var(--logo-color);
  padding: 0.1em 0.8em;
  border-radius: 20px;
  }

  .sidebar .element .resume:hover {
  color: var(--light-logo-color);
  border: 1px solid var(--light-logo-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  /* --------------------------------------- SIDEBAR MAIN ----------------------------- */
  .sidebar_main {
  background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 50px;
  height: calc(100vh - 45px);
  border-right: 1px solid var(--light-grey-color);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  position: fixed;
  left: 0;
  top: 45px;
  font-family: 'Comfortaa', cursive;
  animation: closeSmoothlySidebar 0.3s 1 linear;
}

.sidebar_main .element,
.sidebar_main_maximize .element {
   display: inline-block;
  position: relative;
  color: var(--light-dark-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0.5em 1em 1em;
}

.sidebar_main .element:hover,
.sidebar_main_maximize .element:hover {
  color: var(--light-logo-color);
}

.sidebar_main_maximize .element .writing {
  animation: appear 0.4s 1 linear;
  margin-right: 0.4em;
}

.sidebar_main_maximize {
   background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 180px;
  height: calc(100vh - 45px);
  border-right: 1px solid var(--light-grey-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  left: 0;
  top: 45px;
  font-family: 'Comfortaa', cursive;
  animation: openSmoothlySidebar 0.3s 1 linear;
}

@media only screen and (max-width: 786px) {
 .sidebar_main {
   display: none;
 }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openSmoothlySidebar {
  0% {
    width: 50px;
  }
  25% {
    width: 75px;
  }
  50% {
    width: 110px;
  }
  75% {
    width: 145px;
  }
  100% {
    width: 180px;
  }
}

@keyframes closeSmoothlySidebar {
  0% {
    width: 180px;
  }
  25% {
    width: 145px;
  }
  50% {
    width: 110px;
  }
  75% {
    width: 75px;
  }
  100% {
    width: 50px;
  }
}



  /* ---------------------------------------- MAIN ----------------------------- */
.main {
  width: 80vw;
  height: calc(100vh - 100px);
  padding: 1em;
  margin: 50px 0 50px 50px;
  /* position: relative; */
}

.main .double_grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
  width: 100%;
}

.main .double_grid .title {
  color: var(--lighter-dark-font-color);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 100%;
  height: 90%;
  border: 1px solid red;
}

.main .double_grid .title .first {
  font-size: 1.5em;
}

.main .double_grid .title .second {
  font-size: 4em;
   background: -webkit-linear-gradient(rgb(170, 167, 167), rgb(27, 153, 221));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.main .double_grid .title .third {
  font-size: 1.5em;
}

.main .double_grid .title .fourth {
  font-size: 1em;
  margin-top: 0.5em;
}

.main .double_grid .image {
  width: 100%;
  height: 100%;
}

.main .double_grid .image img {
  /* object-fit: contain; */
  width: 60%;
  height: 60%;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* -------------------------- Background Animation --------------------------------- */
.animated-squares{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.animated-squares li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: rgb(229, 242, 248, 0.6);
    animation: animatecircles 25s linear infinite;
    bottom: -150px;
    
}

.animated-squares li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
        border-radius: 50%;
}


.animated-squares li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    border-radius: 50%;
}

.animated-squares li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
        border-radius: 50%;

}

.animated-squares li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
        border-radius: 50%;

}

.animated-squares li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
        border-radius: 50%;

}

.animated-squares li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
        border-radius: 50%;

}

.animated-squares li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
        border-radius: 50%;

}

.animated-squares li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
        border-radius: 50%;

}

.animated-squares li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
        border-radius: 50%;

}

.animated-squares li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
        border-radius: 50%;

}

@keyframes animatecircles {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* ------------------------------------- FOOTER --------------------------------- */
.footer {
  height: 50px;
  background-color: var(--navbar-color);
  width: 100%;
  border-top: 1px solid var(--light-grey-color);
}
.footer .text {
  font-size: 1em;
  color: var(--lighter-dark-font-color);
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

/* ------------------------------------ PROJECTS ------------------------------------ */
.projects {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 1em;
  margin: 50px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.projects .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.projects .individual {
  width: 80%;
  color: var(--lighter-dark-font-color);
  min-height: 100%;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 3em 0;
}

.projects .individual .double_grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  column-gap: 10px;
  padding: 0.5em;
  height: 100%;
  width: 100%;
  min-height: 250px;
}

.projects .individual .double_grid .image  {
  height: 100%;
  width: 100%;
  position: relative;
}

.projects .individual .double_grid .image img {
  /* object-fit: fit; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.projects .individual .double_grid .image img:hover {
  /* object-fit: fit; */
  transform: scale(1.2);
  z-index: 10;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
  transition: 0.4s;
}

.projects .individual .double_grid .details {
  height: 100%;
  padding: 0 0.5em 0.5em 0.5em;
}

.projects .individual .double_grid .details .title {
  font-size: 1.2em;
  color: var(--light-dark-font-color);
}

.projects .individual .double_grid .details .title:hover {
  color: var(--links-hover-color);
}

.projects .individual .double_grid .details .description {
  font-size: 0.8em;
  color: var(--light-dark-font-color);
  padding-left: 0.5em;
}

.projects .individual .double_grid .details .links {
  font-size: 0.8em;
  color: var(--light-logo-color);
  padding-left: 0.5em;
  width: 90%;
}

.projects .individual .double_grid .details .links .expand {
  color: var(--expand-more-color)
}

.projects .individual .double_grid .details .links .expand:hover {
  color: var(--logo-color)
}

.projects .individual .double_grid .details .links a {
  color: var(--light-logo-color);
  cursor: pointer;
}

.projects .individual .double_grid .details .links .indi:hover {
  color: var(--links-hover-color);
  cursor: pointer;
}

.projects .individual .expanded {
  padding: 0.5em;
  margin: 0.5em;
}

.projects .individual .expanded .double {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  font-family: 'Comfortaa', cursive;
}

.projects .individual .expanded .double .title {
  padding: 0.2em 0.5em 0 0.5em;
  border-radius: 10px;
  font-size: 0.9em;
  margin: 0.6em 0;
  color: var(--logo-color);
}

.projects .individual .expanded .double .tags {
  border: 1px solid var(--light-grey-color);
  width: 50%;
  padding: 0.2em 0.5em 0 0.5em;
  border-radius: 10px;
  font-size: 0.65em;
  text-transform: uppercase;
  margin: 0.6em 0;
}

.projects .individual .expanded .double .tags:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: scale(1.05);
}

.projects .individual .expanded .double .list ul {
  list-style-type: dash;
  list-style: none;
}

.projects .individual .expanded .double .list li {
  font-size: 0.88em;
  padding: 0.4em 0;
  color: var(--light-dark-font-color);
}

.projects .individual .expanded .double .list li:before {
  display: inline-block;
  content: "-";
  margin-right: 0.4em;
}

/* ----------------------------------- ARTICLES ---------------------------- */
.articles {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.articles .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.articles .body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  margin-top: 2em;
  column-gap: 30px;
}

.articles .body .individual {
  width: 100%;
  color: var(--lighter-dark-font-color);
  min-height: 200px;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 2em 0;
  z-index: -1;
}

/* ----------------------------------- SKILLS --------------------------------- */
.skills {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.skills .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.skills .body-one {
  display: grid;
  margin-top: 2em;
  column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.skills .body-two {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.skills .body-one .individual,
.skills .body-two .individual {
  width: 100%;
  color: var(--lighter-dark-font-color);
  min-height: 100px;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
}

.skills .body-one .imp:hover, 
.skills .body-two .imp:hover {
  transform: scale(1.05);
}

.skills .body-one .individual .image img, 
.skills .body-two .individual .image img {
  object-fit: contain;
  width: 60px;
  height: 70px;
}

.skills .body-one .individual .title,
.skills .body-two .individual .title {
  font-size: 1em;
  padding-top: 0.6em;
}

/* --------------------------------- CONTACT ------------------------------ */
.contact {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.contact .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.contact .body{
  display: grid;
  margin-top: 2em;
  /* column-gap: 50px; */
  /* width: 100%;
  height: auto; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
   border: 1px solid red;
}

.contact .body .image {
  border: 1px solid red;
}

.contact .body .form {
   width: 70%;
  color: var(--lighter-dark-font-color);
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 0em 4.5em;
}

.contact .body .form .title {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
}

.contact .body .form .title .first {
  font-size: 1.3em;
  color: var(--logo-color);
  padding-bottom: 0.5em;
}

.contact .body .form .title {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
}

/* -------------------------------- Go Up ---------------------------- */
.go-up {
  color: var(--logo-color);
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 40px;
}