@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
   --light-color: white;
   --background-color: white;
   --navbar-color: rgb(248, 248, 248);
   --dark-font-color: rgb(17, 17, 17);
   --light-dark-font-color: rgb(51, 51, 51);
   --lighter-dark-font-color: rgb(72, 72, 72);
   --logo-color: rgb(0, 145, 255);
   --light-logo-color: rgb(105, 182, 242);
   --closing-color: rgb(243, 47, 47);
}

[data-theme="dark"] {
  --background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    line-height: 1.6;
    background-color: var(--background-color);
    transition: background-color 1s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: var(--light-color);
    padding: 10px;
}

/* ------------------------------------- BASICS ----------------------------------- */
.mrg-r-point-5 {
  margin-right: 0.5em;
}

.mrg-r-one {
  margin-right: 1em;
}

.mrg-r-pointfive {
  margin-right: 0.5em;
}

.mrg-t-1 {
  margin-top: 1em;
}

.mrg-b-1 {
  margin-bottom: 1em;
}

.mrg-t-b-1 {
  margin: 1em 0;
}

.disabled_change_cursor {
    cursor: not-allowed;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

.flex_left{
    display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_right {
    display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_start {
    display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex_end {
    display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex_evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app {
    display: flex;
  align-items: center;
  flex-direction: column;
}

.scroll_hidden {
  overflow: hidden;
}

.triple_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 479px) {
  .triple_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ft-bold {
  font-weight: bold;
}

.cancel:hover {
  color: var(--closing-color);
}

.invisible {
  display: none;
}

/* --------------------------------------------- NAVBAR -------------------------------------- */
.navbar {
  background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 100vw;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  top: 0;
  font-family: 'Comfortaa', cursive;
  padding: 0 5em;
}

.navbar .left {
  font-size: 26px;
  color: var(--logo-color);
  font-weight: 700;
}

.navbar .right {
  width: 45vw;
  font-size: 0.9em;
}

.navbar .right .element {
   display: inline-block;
  position: relative;
  color: var(--light-dark-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right .element:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light-logo-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar .right .element:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.navbar .right .resume {
  font-size: 14px;
  color: var(--logo-color);
  font-weight: 700;
  border: 1px solid var(--logo-color);
  padding: 0.2em 0.8em;
  border-radius: 20px;
}


@media only screen and (max-width: 786px) {
  .navbar {
  padding: 0 2.5em;
}
  .navbar .right {
    display: none;
  }
    .navbar .mobile_logo {
        cursor: pointer;
        animation: verticalToHorizontal 0.3s 1 linear;
        color: var(--light-dark-font-color);
    }

   .navbar .mobile_logo--tilted {
      cursor: pointer;
      transform: rotate(90deg);
      animation: horizontalToVertical 0.3s 1 linear;
      color: var(--light-dark-font-color);
  }

  .navbar .mobile_logo:hover, 
  .navbar .mobile_logo--tilted:hover {
    color: var(--logo-color);
  }

  @keyframes verticalToHorizontal {
        0% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes horizontalToVertical {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }

}

/* ---------------------------------- SIDEBAR ---------------------------- */
.sidebar {
  width: 170px;
  font-family: 'Comfortaa', cursive;
}

.sidebar .title {
  padding: 0.5em 0.5em;
}

.sidebar .title .text {
  font-size: 1em;
  color: var(--logo-color);
  font-weight: bold;
}

.sidebar .title .icon {
  color: var(--dark-font-color);
}

.sidebar .element {
  color: var(--lighter-dark-font-color);
  padding: 0.7em;
  margin: 0.3em;
  cursor: pointer;
  font-size: 0.9em;
}

.sidebar .element:hover {
  color: var(--logo-color);
  }

  .sidebar .element .resume {
      font-size: 14px;
  color: var(--logo-color);
  font-weight: 700;
  border: 1px solid var(--logo-color);
  padding: 0.1em 0.8em;
  border-radius: 20px;
  }

  .sidebar .element .resume:hover {
  color: var(--light-logo-color);
  border: 1px solid var(--light-logo-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

