@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
   --light-color: white;
   --background-color: rgb(253, 252, 252);
   --navbar-color: rgb(255, 255, 255);
   --dark-font-color: rgb(17, 17, 17);
   --light-dark-font-color: rgb(51, 51, 51);
   --lighter-dark-font-color: rgb(72, 72, 72);
   --expand-more-color: rgb(148, 148, 148);
   --logo-color: rgb(0, 145, 255);
   --light-logo-color: rgb(105, 182, 242);
   --closing-color: rgb(243, 47, 47);
   --light-grey-color: rgb(230, 230, 230);
   --background-dots-color: rgb(240, 240, 240);
   --links-hover-color: rgb(133, 228, 78);
}

[data-theme="dark"] {
  --background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    line-height: 1.6;
    background-color: var(--background-color);
    transition: background-color 1s;
    background-image: radial-gradient(var(--background-dots-color) 20%, transparent 20%);
  background-position: 0 0, 4px 4px;
  background-size: 5px 5px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: var(--light-color);
    padding: 10px;
}

.homely-1 {
   background-image: url('./resources/images/bodingaTransLogo.png'), url('./resources/images/transGotuuLogo.png');
    background-repeat:no-repeat, no-repeat;
    background-size: 500px 500px;
    background-position:100% 1000px,0% 1450px;
}

.homely-2 {
   background-image: url('./resources/images/sketLogo2.js.png');
    background-repeat:no-repeat;
    background-size: 50vw 100vh;
    background-position: 120% 0%;
}

/* .homely-3 {
   background-image: url('./resources/images/25331.jpg');
    background-repeat:no-repeat;
    background-size: 100vw 100vh;
    background-position: 0% 0%;
    position: relative;
    z-index: -100;
     background-attachment: fixed;
} */

/* ------------------------------------- BASICS ----------------------------------- */
.mrg-r-point-5 {
  margin-right: 0.5em;
}

.mrg-r-one {
  margin-right: 1em;
}

.mrg-r-pointfive {
  margin-right: 0.5em;
}

.mrg-t-1 {
  margin-top: 1em;
}

.mrg-b-1 {
  margin-bottom: 1em;
}

.mrg-t-b-1 {
  margin: 1em 0;
}

.disabled_change_cursor {
    cursor: not-allowed;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

.flex_left{
    display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_right {
    display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_start {
    display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex_end {
    display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex_evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app {
    display: flex;
  align-items: center;
  flex-direction: column;
}

.scroll_hidden {
  overflow: hidden;
}

.triple_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 479px) {
  .triple_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ft-bold {
  font-weight: bold;
}

.cancel:hover {
  color: var(--closing-color);
}

.invisible {
  display: none;
}

/* --------------------------------------------- NAVBAR -------------------------------------- */
.navbar {
  background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 100vw;
  height: 45px;
  border-bottom: 1px solid var(--light-grey-color);
  position: fixed;
  top: 0;
  font-family: 'Comfortaa', cursive;
  padding: 0 5em;
  z-index: 100;
}

.navbar .left {
  font-size: 26px;
  color: var(--logo-color);
  font-weight: 700;
}

.navbar .right {
  /* width: 45vw; */
  font-size: 0.9em;
}

.navbar .right .element {
   display: inline-block;
  position: relative;
  color: var(--light-dark-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right .element:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light-logo-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar .right .element:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.navbar .right .resume {
  font-size: 14px;
  color: var(--logo-color);
  font-weight: 700;
  border: 1px solid var(--logo-color);
  padding: 0.2em 0.8em;
  border-radius: 20px;
  margin-left: 2em;
  cursor: pointer;
  width: 90px;
  height: 30px;
}

.navbar .right .resume:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar .resume .text {
  animation: resumeHover 0.3s 1 linear;
}

.navbar .resume .icon {
  animation: resumeHover 0.3s 1 linear;
}

@keyframes resumeHover {
  0% {
    transform:scale(0.3); 
  }
  50% {
    transform:scale(1); 
  }
  75% {
    transform:scale(1.3); 
  }
  100% {
    transform:scale(1); 
  }
}

.navbar .right .sun {
  animation: sunEntry 0.3s 1 linear;
}

.navbar .right .moon {
  animation: moonEntry 0.3s 1 linear;
}

@keyframes sunEntry {
  from {
    opacity: 0;
    transform: rotate(270deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes moonEntry {
  from {
    opacity: 0;
    transform: rotate(90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}


@media only screen and (max-width: 786px) {
  .navbar {
  padding: 0 2.5em;
}
  .navbar .right {
    display: none;
  }
    .navbar .mobile_logo {
        cursor: pointer;
        animation: verticalToHorizontal 0.3s 1 linear;
        color: var(--light-dark-font-color);
    }

   .navbar .mobile_logo--tilted {
      cursor: pointer;
      transform: rotate(90deg);
      animation: horizontalToVertical 0.3s 1 linear;
      color: var(--light-dark-font-color);
  }

  .navbar .mobile_logo:hover, 
  .navbar .mobile_logo--tilted:hover {
    color: var(--logo-color);
  }

  @keyframes verticalToHorizontal {
        0% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes horizontalToVertical {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }

}

/* ---------------------------------- SIDEBAR ---------------------------- */
.sidebar {
  width: 170px;
  font-family: 'Comfortaa', cursive;
}

.sidebar .title {
  padding: 0.5em 0.5em;
}

.sidebar .title .text {
  font-size: 1em;
  color: var(--logo-color);
  font-weight: bold;
}

.sidebar .title .icon {
  color: var(--dark-font-color);
}

.sidebar .element {
  color: var(--lighter-dark-font-color);
  padding: 0.7em;
  margin: 0.3em;
  cursor: pointer;
  font-size: 0.9em;
}

.sidebar .element:hover {
  color: var(--logo-color);
  }

  .sidebar .element .resume {
      font-size: 14px;
  color: var(--logo-color);
  font-weight: 700;
  border: 1px solid var(--logo-color);
  padding: 0.1em 0.8em;
  border-radius: 20px;
  }

  .sidebar .element .resume:hover {
  color: var(--light-logo-color);
  border: 1px solid var(--light-logo-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  /* --------------------------------------- SIDEBAR MAIN ----------------------------- */
  .sidebar_main {
  background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 50px;
  height: calc(100vh - 45px);
  border-right: 1px solid var(--light-grey-color);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  position: fixed;
  left: 0;
  top: 45px;
  font-family: 'Comfortaa', cursive;
  animation: closeSmoothlySidebar 0.3s 1 linear;
}

.sidebar_main .element,
.sidebar_main_maximize .element {
   display: inline-block;
  position: relative;
  color: var(--light-dark-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0.5em 1em 1em;
}

.sidebar_main .element:hover,
.sidebar_main_maximize .element:hover {
  color: var(--light-logo-color);
}

.sidebar_main_maximize .element .writing {
  animation: appear 0.4s 1 linear;
  margin-right: 0.4em;
}

.sidebar_main_maximize {
   background-color: var(--navbar-color);
  color: var(--dark-font-color);
  width: 180px;
  height: calc(100vh - 45px);
  border-right: 1px solid var(--light-grey-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  left: 0;
  top: 45px;
  font-family: 'Comfortaa', cursive;
  animation: openSmoothlySidebar 0.3s 1 linear;
}

@media only screen and (max-width: 786px) {
 .sidebar_main {
   display: none;
 }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openSmoothlySidebar {
  0% {
    width: 50px;
  }
  25% {
    width: 75px;
  }
  50% {
    width: 110px;
  }
  75% {
    width: 145px;
  }
  100% {
    width: 180px;
  }
}

@keyframes closeSmoothlySidebar {
  0% {
    width: 180px;
  }
  25% {
    width: 145px;
  }
  50% {
    width: 110px;
  }
  75% {
    width: 75px;
  }
  100% {
    width: 50px;
  }
}



  /* ---------------------------------------- MAIN ----------------------------- */
.main {
  width: 90vw;
  height: 90vh;
  padding: 1em;
  margin: 50px 0 50px 50px;
}

.main .double_grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}

.main .double_grid .title {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 100%;
  height: 100%;
}

.main .double_grid .title .second {
  font-size: 8.8em;
  text-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   position: relative;
   cursor:context-menu;
}

.main .double_grid .title .second .alternate {
 color: var(--logo-color);
}

.main .double_grid .title .second .pronunciation {
  content: 'pronunced as: Aaoooonsh';
 color: var(--logo-color);
 font-size: 10px; 
 position: absolute;
 bottom: 115px;
 right: 70px;
}


.main .double_grid .title .second .letter-a {
 padding: 0;
 color: var(--logo-color);
 font-size: 2em;
}

.main .double_grid .title .second .letter-a:hover {
 animation: shakeAndWiggle 0.3s 1 linear;
 color: var(--lighter-dark-font-color);
}

.main .double_grid .title .second .one {
  z-index: 10;
  color: var(--lighter-dark-font-color);
}

.main .double_grid .title .second .exclamation {
  font-size: 170px;
}

.main .double_grid .title .second .one:hover {
  animation: shakeAndWiggle 0.2s 2 linear;
  color: var(--logo-color);
  transform: 0.1s;
}

@keyframes shakeAndWiggle {
  0% { transform: scale(1) rotate(10deg) translate(0, 4px); }
  50% { transform: scale(1.1) rotate(-10deg) translate(0, -4px); }
  100% { transform: scale(1) rotate(10deg) translate(0, 4px); }
}

.main .double_grid .title .second .third {
  font-size:30px;
  position: absolute;
  bottom: 15px;
}

.boopie img {
  margin-top: -25px;
  width: 0.67em;
  z-index: -2;
  position: relative;
}

.main .double_grid .title .second .first {
  font-size: 0.4em;
  position: absolute;
  top: 20px;
}

.main .double_grid .image {
  width: 100%;
  height: 100%;
}

.shake2:hover{ 
  animation: shake2 75ms infinite;
  animation-timing-function: linear; 
  color: black;  
}

/* ---------------- moving text ------------------- */
.third {
  font-size: 5em;
  text-align: center;
  font-weight: 600;
}

.third span span {
	position: relative;
	animation: move-text-color 0.75s forwards;
	bottom: -1em;
	opacity: 0;
}

.u { 
  color: black;
}
.uu { 
  color: var(--logo-color);
}

@keyframes move-text-color {
	0% {
		bottom: -0.2em;
		opacity: 1;
		color: #3E5C76;
	}
	
	50% {
		bottom: 0.2em;
		color: #0593ec;
	}

	100% {
		bottom: 0;
		opacity: 1;
    /* color: #cb3126; */
	}
}

@media only screen and (max-width: 786px) {
  .main .double_grid .title .second {
  font-size: 6em;
  text-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   position: relative;
   cursor:context-menu;
}

.main .double_grid .title .second .alternate {
 color: var(--logo-color);
}

.main .double_grid .title .second .pronunciation {
  content: 'pronunced as: Aaoooonsh';
 color: var(--logo-color);
 font-size: 10px; 
 position: absolute;
 bottom: 70px;
 right: 70px;
}

.main .double_grid .title .second .exclamation {
  font-size: 116px;
}

}

/* ------------------------------------- FOOTER --------------------------------- */
.footer {
  /* position: fixed; */
  bottom: 0px;
  height: 30px;
  z-index: -5;
  /* background-color: var(--navbar-color); */
  width: 100%;
  /* border-top: 1px solid var(--light-grey-color); */
}
.footer .text {
  font-size: 1em;
  color: rgb(167, 167, 167);
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

/* ------------------------------------ PROJECTS ------------------------------------ */
.projects {
  color: var(--grey-color);
   width: 90vw;
  height: auto;
  padding: 1em;
  margin: 50px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.projects .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.projects .individual {
  width: 90%;
  color: var(--lighter-dark-font-color);
  min-height: 100%;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 3em 0;
}

.projects .individual .double_grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  column-gap: 10px;
  padding: 0.5em;
  height: 100%;
  width: 100%;
  min-height: 250px;
}

.projects .individual .double_grid .image  {
  height: 100%;
  width: 100%;
  position: relative;
}

.projects .individual .double_grid .image img {
  /* object-fit: fit; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.projects .individual .double_grid .image img:hover {
  /* object-fit: fit; */
  transform: scale(1.2);
  z-index: 10;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
  transition: 0.4s;
}

.projects .individual .double_grid .details {
  height: 100%;
  padding: 0 0.5em 0.5em 0.5em;
}

.projects .individual .double_grid .details .title {
  font-size: 1.2em;
  color: var(--light-dark-font-color);
}

.projects .individual .double_grid .details .title:hover {
  color: var(--links-hover-color);
}

.projects .individual .double_grid .details .description {
  font-size: 0.8em;
  color: var(--light-dark-font-color);
  padding-left: 0.5em;
}

.projects .individual .double_grid .details .links {
  font-size: 0.8em;
  color: var(--light-logo-color);
  padding-left: 0.5em;
  width: 90%;
}

.projects .individual .double_grid .details .links .expand {
  color: var(--expand-more-color)
}

.projects .individual .double_grid .details .links .expand:hover {
  color: var(--logo-color)
}

.projects .individual .double_grid .details .links a {
  color: var(--light-logo-color);
  cursor: pointer;
}

.projects .individual .double_grid .details .links .indi:hover {
  color: var(--links-hover-color);
  cursor: pointer;
}

.projects .individual .expanded {
  padding: 0.5em;
  margin: 0.5em;
}

.projects .individual .expanded .double {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  font-family: 'Comfortaa', cursive;
}

.projects .individual .expanded .double .title {
  padding: 0.2em 0.5em 0 0.5em;
  border-radius: 10px;
  font-size: 0.9em;
  margin: 0.6em 0;
  color: var(--logo-color);
}

.projects .individual .expanded .double .tags {
  border: 1px solid var(--light-grey-color);
  width: 50%;
  padding: 0.2em 0.5em 0 0.5em;
  border-radius: 10px;
  font-size: 0.65em;
  text-transform: uppercase;
  margin: 0.6em 0;
}

.projects .individual .expanded .double .tags:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: scale(1.05);
}

.projects .individual .expanded .double .list ul {
  list-style-type: dash;
  list-style: none;
}

.projects .individual .expanded .double .list li {
  font-size: 0.88em;
  padding: 0.4em 0;
  color: var(--light-dark-font-color);
}

.projects .individual .expanded .double .list li:before {
  display: inline-block;
  content: "-";
  margin-right: 0.4em;
}

/* ----------------------------------- ARTICLES ---------------------------- */
.articles {
  color: var(--grey-color);
   width: 1000px;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.articles-main {
  color: var(--grey-color);
   width: 1000px;
  height: auto;
  padding: 0em 1em 0em 1em;
  margin: 60px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.articles .title, 
.articles-main .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.articles .body,
.articles-main .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, auto);
  margin-top: 2em;
  column-gap: 30px;
}

.articles .body .individual, 
.articles-main .body .individual {
  width: 75%;
  color: var(--lighter-dark-font-color);
  min-height: 300px;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 2em 0;
  /* z-index: -1; */
}

.read-more,
.read-more a {
  color: var(--expand-more-color);
  font-size: 0.9em;
  margin-top: -3em;
  margin-bottom: 2em;
  cursor: pointer;
}

.read-more:hover,
.read-more a:hover {
  color: var(--logo-color);
}

.articles .body .individual:hover, 
.articles-main .body .individual:hover {
 transform: scale(1.01);
}

.articles .body .individual .image, 
.articles-main .body .individual .image {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.articles .body .individual .image img, 
.articles-main .body .individual .image img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.articles .body .individual .title, 
.articles-main .body .individual .title {
  font-size: 1.1em;
  padding: 0em 1.2em 0.5em 1.2em;
}

.articles .body .individual .tags, 
.articles-main .body .individual .tags {
 padding: 0.5em 1.2em 0em 1.2em;
}

.articles .body .individual .tags img, 
.articles-main .body .individual .tags img {
 object-fit: contain;
 width: 18px;
 height: 18px;
}

.articles .body .individual .description, 
.articles-main .body .individual .description {
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
}

.articles .body .individual .checkout, 
.articles-main .body .individual .checkout {
  font-size: 0.7em;
  padding: 0.5em 1em 1em 1em;
}

.articles .body .individual .checkout:hover, 
.articles-main .body .individual .checkout:hover {
  cursor: pointer;
  color: var(--logo-color)
}

@media only screen and (max-width: 786px) {
  .articles {
  color: var(--grey-color);
   width: 100%;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.articles-main {
  color: var(--grey-color);
   width: 100%;
  height: auto;
  padding: 0em 1em 0em 1em;
  margin: 60px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.articles .body,
.articles-main .body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, auto);
  margin-top: 2em;
  column-gap: 30px;
}

.articles .body .individual, 
.articles-main .body .individual {
  width: 300px;
  color: var(--lighter-dark-font-color);
  min-height: 300px;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 2em 0;
  /* z-index: -1; */
}

}


/* ----------------------------------- ABOUT ---------------------------- */
.all-about {
  height: auto;
  width: 100vw;
}

.all-about .image {
  position: fixed;
  top: 63%;
  right: -60px;
  transform: rotate(-35deg);
  animation: aboutImageInput 1s 1 forwards;
}

.all-about .bubble {
  position: fixed;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 150px;
  height: 100px;
  background: var(--navbar-color);
  border-radius: 10px;
  padding: 13px;
  text-align: center;
  color: var(--lighter-dark-font-color);
  font-family: 'Comfortaa', cursive ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 60%;
  right: 80px;
     animation: aboutImageInputDialog 2s 1 linear;
     z-index: 5;
}

.all-about .bubble-error {
  position: fixed;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 170px;
  height: 120px;
  background: var(--navbar-color);
  border-radius: 10px;
  padding: 13px;
  text-align: center;
  color: var(--lighter-dark-font-color);
  font-family: 'Comfortaa', cursive ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 60%;
  right: 80px;
     animation: aboutImageInputDialog 2s 1 linear;
}


.all-about .bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 24px solid #fff;
  border-left: 20px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: -10px;
  bottom: -12px;
  z-index: 5;
  transform: rotate(-45deg);
   animation: aboutImageInputDialog 2s 1 linear;
}


@keyframes aboutImageInputDialog {
from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes aboutImageInput {
from {
    transform: rotate(0deg) translateX(20px);
  }
  to {
    transform: rotate(-35deg) translateX(0px);
  }
}

.all-about .image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.about {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.about-main {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 0em 1em 0em 1em;
  margin: 60px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
  border: 1px solid red;
}

.about .title, 
.about-main .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.about .body,
.about-main .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, auto);
  margin-top: 2em;
  column-gap: 30px;
   color: var(--lighter-dark-font-color);
}

.about .body .individual, 
.about-main .body .individual {
  width: 100%;
  color: var(--lighter-dark-font-color);
  min-height: 200px;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 2em 0;
  z-index: -1;
}

.about-main .image img {
  width: 200px;
  object-fit: contain;
  height: 200px;
}


/* ----------------------------------- SKILLS --------------------------------- */
.skills {
  color: var(--grey-color);
   width: 80vw;
  height: auto;
  padding: 0em 1em 1em 1em;
  margin: 0px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.skills-main {
  color: var(--grey-color);
   width: 1000px;
  height: auto;
    padding: 0em 0em 0em 2em;
  margin: 60px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.skills .title,
.skills-main .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.skills .body-one,
.skills-main .body-one {
  display: grid;
  margin-top: 2em;
  column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.skills .body-two,
.skills-main .body-two {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.skills .body-one .individual,
.skills-main .body-one .individual,
.skills .body-two .individual,
.skills-main .body-two .individual {
  width: 90%;
  color: var(--lighter-dark-font-color);
  min-height: 100px;
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em;
}

.skills .body-one .imp:hover, 
.skills-main .body-one .imp:hover, 
.skills .body-two .imp:hover,
.skills-main .body-two .imp:hover {
  transform: scale(1.05);
}

.skills .body-one .individual .image img, 
.skills-main .body-one .individual .image img, 
.skills .body-two .individual .image img,
.skills-main .body-two .individual .image img {
  object-fit: contain;
  width: 60px;
  height: 70px;
}

.skills .body-one .individual .title,
.skills-main .body-one .individual .title,
.skills .body-two .individual .title,
.skills-main .body-two .individual .title {
  font-size: 1em;
  padding-top: 0.6em;
}

/* --------------------------------- CONTACT ------------------------------ */
.contact {
  color: var(--grey-color);
   width: 1000px;
  height: auto;
  padding: 0em 1em 0em 1em;
  margin: 60px 0 50px 50px;
  font-family: 'Comfortaa', cursive;
}

.contact .title {
  color: var(--lighter-dark-font-color);
  font-size: 2em;
}

.contact .body{
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.contact .body .image {
  border: 1px solid red;
}

.contact .body .form {
   width: 310px;
  color: var(--lighter-dark-font-color);
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  min-height: 400px;
  z-index: 1;
}

.contact .body .form .errors {
  color: var(--light-color);
  background-color: var(--closing-color);
  border-radius: 10px;
  padding: 0 0.5em;
  font-size: 0.7em;
  margin-bottom: 0.8em;

}

.contact .body .form .title {
  padding: 0.5em;
  font-size: 1em;
}

.contact .body .form .title .first {
  font-size: 1.3em;
  color: var(--logo-color);
  /* padding-bottom: 0.5em; */
}

.contact .body .form .title {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
}

.card-contact {
   width: 310px;
  color: var(--lighter-dark-font-color);
  background-color: var(--navbar-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  min-height: 150px;
  z-index: 1;
  font-family: 'Comfortaa', cursive;
  padding: 0.5em 0.5em 1.3em 0.5em;
  margin: 0px 0 50px 50px;
}

.card-contact .title {
  font-size: 1em;
  color: var(--logo-color);
}

.card-contact .info .title {
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 1em;
}

.card-contact .info  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4em;
  padding-top: 1em;
}

/* -------------------------------- Go Up ---------------------------- */

.contact-button {
  position: fixed;
  bottom: 50px;
  right: 30px;  background-color: var(--logo-color);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}

.go-up {
  position: absolute;
  color: var(--logo-color);
  top: 10px;
  left: 15px;
  z-index: 10;
  color: var(--light-color);
}

.contact-button:hover {
  animation: contactButton 0.2s 1 linear;
}

@keyframes contactButton {
  0%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}

/* ------------------------------------- LOADER ---------------------------------- */
.loader-me {
  color: var(--grey-color);
  font-size: 6px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
